
# MaintemplateComponent	
MINIO_ACCESSKEY = "REPLACE_THIS"
MINIO_ENCKEY = "this is of type bytes"
MINIO_ENDPOINT = "[104 116 116 112 58 47 47 49 50 55 46 48 46 48 46 49]"
MINIO_LOCATION = "REPLACE_THIS"
MINIO_SECRETKEY = "REPLACE_THIS"
MINIO_SSL = "false"
MINIO_TIMEOUT = "0"

export MINIO_ACCESSKEY MINIO_ENCKEY MINIO_ENDPOINT MINIO_LOCATION MINIO_SECRETKEY MINIO_SSL MINIO_TIMEOUT 
